*{
    margin: 0;
}
.navigation  img{
    width: 50px;
    margin-left: 25px;

}
.navigation {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: medium;

}
.navigation .banner-1 {
    
    width: 25%;
    display: flex;
    justify-content: space-between;
    margin-right: 600px;
    margin-left: 40px;
}
.navigation .banner-2{
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin-right: 50px;
}
.navigation .banner-2 #login{
    font-family: 'Source Sans Pro', sans-serif;

    color: white;
    background-color: #04AA6D;
    border-radius: 20px;
padding: 10px 25px;
border: none;
}
.navigation .banner-2 #pro {
    font-family: 'Source Sans Pro', sans-serif;

    color: black;
    background-color:white;
    border-radius: 20px;
padding: 10px 15px;
border: none;
font-size: 18px;
}
.navigation .banner-2 #get{
    font-family: 'Source Sans Pro', sans-serif;

    color: black;
    background-color:pink;
    border-radius: 20px;
padding: 10px 15px;
border: none;
font-size: 18px;
}

.navigation .banner-2 #website{
    font-family: 'Source Sans Pro', sans-serif;

    color: black;
    background-color:white;
    border-radius: 20px;
padding: 10px 15px;
border: none;
font-size: 18px;
}
.navigation .banner-2 #login:hover{
    background-color: lightgreen;
    cursor: pointer;

}
.section-1{
    background-color: #282A35!important;
    height: 80vh;
    color: white;
    text-align: center;
    align-content:center;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;

}
.section-1 .container{
    width: 100%;
    position: absolute;
    align-items: center;
    text-align: center;
    align-content: center;
    display:flex-column;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
}
.section-1 h3{
margin-top: 40px;
color: pink;
font-size: 25px;
}
.section-1 input{
    margin-top: 30px;
    border-radius: 20px 0 0 20px;
    width: 305px;
    height: 35px;
    gap: 0px;
}
.section-1 button{
    width: 20%px;
    height: 39px;
    border-radius:0 20px 20px 0 ;
    border: none;
    margin-right: 50px;
    padding-right: 20px;
    padding-left: 5px;
    background-color: #04AA6D;
}
.section-1  img{
    width: 12px;
}



